{% extends "base_generic.html" %}

{% block content %}
  <form action="{% url 'password_change' %}" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input  type="submit" id="email_id" class="btn btn-default btn-xs active"  value="Reset password"> 
    <!-- The submit input will be displayed as a button (by default) that can be pressed by the user to upload the data in all the other input elements in the form to the server -->
  </form>
{% endblock %}

